/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html {
	overflow-y: scroll;
}


body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #38373C;
	text-align:center;
}



a, a:visited {
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	margin:10px auto 3px;
	background-color:#EF4D23;
	font-weight:bold;
	border-radius:2px;
	font-size:16px;
	text-decoration:none;
	
	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

a:hover{
	text-decoration:none;
	color:#515A5F;
}

a.normalize, a.normalize:visited{
	color:#EF4D23;
	background-color:#FFFFFF;
	font-weight:normal;
	padding:0px;
	margin:0px;
}
a.normalize:hover{
	color:#515A5F;
	background-color:#FFFFFF;
	font-weight:normal;
	padding:0px;
	margin:0px;
}

a.broken, a.broken:visited {
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	margin:10px auto 3px;
	background-color:#CC4040;
	font-weight:bold;
	border-radius:4px;
	text-transform:uppercase;
	font-size:16px;
	text-decoration:none;
	
	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

a.broken:hover{
	text-decoration:none;
	background-color:#FF8484;
}

section, footer, header, aside, nav{
	display: block;
}


h1 {
	margin:20px auto 5px;
	font-family: "Lucida Console", Monaco, monospace;
	font-style: normal;
	font-weight:bold;
	font-size: 40px;
}

h4 {
	color:#7E7C83;
	font-style:italic;
}


div.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
