<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will it require data from any 3rd party?</h3><br>
	<div class="centerbuttons">
	<a href="#/icon" class="normalize" ng-click="data.3rdparty='Yes'; addTotal(3000)"><img src="img/3rdparty/3rdparty-icon.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/icon" class="normalize" ng-click="data.3rdparty='No'; addTotal(0)"><img src="img/3rdparty/3rdparty-no-icon.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/icon" class="normalize" ng-click="data.3rdparty='Not sure'; addTotal(1500)"><img src="img/3rdparty/17q1.png" width="100" height="100"></a><br>Not sure<br>
</div>
