<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will it require data from any 3rd party?</h3><br>
	<div class="centerbuttons">
	<a href="#/icon" class="normalize" ng-click="data.3rdparty='3rd party data'; addTotal(3000); data.3rdpartyimg='img/3rdparty/3rdparty-icon.png'"><img src="img/3rdparty/3rdparty-icon.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/icon" class="normalize" ng-click="data.3rdparty='No 3rd party data'; addTotal(0); data.3rdpartyimg='img/3rdparty/3rdparty-no-icon.png'"><img src="img/3rdparty/3rdparty-no-icon.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/icon" class="normalize" ng-click="data.3rdparty='Unsure of 3rd party data'; addTotal(1500); data.3rdpartyimg='img/3rdparty/17q1.png'"><img src="img/3rdparty/17q1.png" width="100" height="100"></a><br>Not sure<br><br>
</div>
