<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>How much customization does your app need?</h3><br>
	<div class="centerbuttons">
	<a href="#/login" class="login" ng-click="data.customization='Stock/Default'; addTotal(5000)">Stock/Default</a><br><br>
	<a href="#/login" class="login" ng-click="data.customization='Fully customized'; addTotal(12000)">Fully customized</a><br><br>
	<a href="#/login" class="login" ng-click="data.customization='Custom, similar to existing'; addTotal(8000)">Custom, similar to existing</a><br><br>
	<a href="#/login" class="login" ng-click="data.customization='Not sure'; addTotal(6000)">Not sure</a>
	</div>
</div>
