<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Does the app need to sync data across other devices?</h3><br>
	<div class="centerbuttons">
	<a href="#/reviews" class="normalize" ng-click="data.datasync='Device syncing'; addTotal(12000); data.datasyncimg='img/datasync/7.png'"><img src="img/datasync/7.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/reviews" class="normalize" ng-click="data.datasync='No device syncing'; addTotal(0); data.datasyncimg='img/datasync/no-sync-icon.png'"><img src="img/datasync/no-sync-icon.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/reviews" class="normalize" ng-click="data.datasync='Unsure about device syncing'; addTotal(4000); data.datasyncimg='img/datasync/idk-sync-icon.png'"><img src="img/datasync/idk-sync-icon.png" width="100" height="100"></a><br>Not sure<br><br>
</div>
