<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Does your app need a customized icon?</h3><br>
	<div class="centerbuttons">
	<a href="#/stage" class="normalize" ng-click="data.icon='Custom icon'; addTotal(500); data.iconimg='img/icon/19.png'"><img src="img/icon/19.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/stage" class="normalize" ng-click="data.icon='No custom icon'; addTotal(0); data.iconimg='img/icon/19c1.png'"><img src="img/icon/19c1.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/stage" class="normalize" ng-click="data.icon='Unsure of custom icon'; addTotal(300); data.iconimg='img/icon/19q1.png'"><img src="img/icon/19q1.png" width="100" height="100"></a><br>Not sure<br><br>
</div>
