<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will it need to use location data?</h3><br>
	<div class="centerbuttons">
	<a href="#/3rdparty" class="normalize" ng-click="data.location='Yes'; addTotal(3000)"><img src="img/location/11.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/3rdparty" class="normalize" ng-click="data.location='No'; addTotal(0)"><img src="img/location/11c.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/3rdparty" class="normalize" ng-click="data.location='Not sure'; addTotal(1500)"><img src="img/location/11q1.png" width="100" height="100"></a><br>Not sure<br>
</div>
