<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will it need to use location data?</h3><br>
	<div class="centerbuttons">
	<a href="#/3rdparty" class="normalize" ng-click="data.location='Location Data'; addTotal(3000); data.locationimg='img/location/11.png'"><img src="img/location/11.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/3rdparty" class="normalize" ng-click="data.location='No location data'; addTotal(0); data.locationimg='img/location/11c.png'"><img src="img/location/11c.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/3rdparty" class="normalize" ng-click="data.location='Unsure about location data'; addTotal(1500); data.locationimg='img/location/11q1.png'"><img src="img/location/11q1.png" width="100" height="100"></a><br>Not sure<br><br>
</div>
