<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will the user need to login?</h3><br>
	<div class="centerbuttons">
	<a href="#/payments" class="payments" ng-click="data.login='Social Media and/or email'; addTotal(3000)">Social Media and/or email</a><br><br>
	<a href="#/payments" class="payments" ng-click="data.login='Email'; addTotal(2000)">Email</a><br><br>
	<a href="#/payments" class="payments" ng-click="data.login='No'; addTotal(0)">No</a><br><br>
	<a href="#/payments" class="payments" ng-click="data.login='Not sure'; addTotal(1500)">Not sure</a><br><br>
</div>
