<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will the user need to login?</h3><br>
	<div class="centerbuttons">
	<a href="#/payments" class="normalize" ng-click="data.login='Social Media and/or email login'; addTotal(3000); data.loginimg='img/login/social-login-icon.png'"><img src="img/login/social-login-icon.png" width="100" height="100"></a><br>Social Media and/or email<br><br>
	<a href="#/payments" class="normalize" ng-click="data.login='Email login'; addTotal(2000); data.loginimg='img/login/email-login-icon.png'"><img src="img/login/email-login-icon.png" width="100" height="100"></a><br>Email<br><br>
	<a href="#/payments" class="normalize" ng-click="data.login='No login'; addTotal(0); data.loginimg='img/login/no-login-icon.png'"><img src="img/login/no-login-icon.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/payments" class="normalize" ng-click="data.login='Unsure if needs login'; addTotal(1500); data.loginimg='img/login/idk-login-icon.png'"><img src="img/login/idk-login-icon.png" width="100" height="100"></a><br>Not sure<br>
</div>
