<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will your app require in-app payments?</h3><br>
	<div class="centerbuttons">
	<a href="#/datasync" class="normalize" ng-click="data.payments='Yes'; addTotal(3000)"><img src="img/payments/10.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/datasync" class="normalize" ng-click="data.payments='No'; addTotal(0)"><img src="img/payments/no-payments-icon.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/datasync" class="normalize" ng-click="data.payments='Not sure'; addTotal(1500)"><img src="img/payments/idk-payments-icon.png" width="100" height="100"></a><br>Not sure<br><br>
</div>
