<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will your app require in-app payments?</h3><br>
	<div class="centerbuttons">
	<a href="#/datasync" class="normalize" ng-click="data.payments='In-app payments'; addTotal(3000); data.paymentsimg='img/payments/10.png'"><img src="img/payments/10.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/datasync" class="normalize" ng-click="data.payments='No in-app payments'; addTotal(0); data.paymentsimg='img/payments/no-payments-icon.png'"><img src="img/payments/no-payments-icon.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/datasync" class="normalize" ng-click="data.payments='Unsure needs in-app payments'; addTotal(1500); data.paymentsimg='img/payments/idk-payments-icon.png'"><img src="img/payments/idk-payments-icon.png" width="100" height="100"></a><br>Not sure<br><br>
</div>
