<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>What platform will you want your app to run on?</h3><br>
	<div class="centerbuttons">
	<a href="#/customization" class="normalize" ng-click="data.platform='iOS'; data.platformimg='img/platform/ipad-icon.png'"><img src="img/platform/ipad-icon.png" width="100" height="100"></a><br>iOS<br><br>
	<a href="#/customization" class="normalize" ng-click="data.platform='Mobile Web App'; data.platformimg='img/platform/8.png'"><img src="img/platform/8.png" width="100" height="100"></a><br>Mobile Web App<br><br>
	<a href="#/customization" class="normalize" ng-click="data.platform='Android'; data.platformimg='img/platform/android-device-icon.png'"><img src="img/platform/android-device-icon.png" width="100" height="100"></a><br>Android<br><br>
	</div>
</div>
