<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will user profiles be used?</h3><br>
	<div class="centerbuttons">
	<a href="#/webinteg" class="normalize" ng-click="data.profiles='User profiles'; addTotal(3000); data.profilesimg='img/profiles/profile-icon.png'"><img src="img/profiles/profile-icon.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/webinteg" class="normalize" ng-click="data.profiles='No user profiles'; addTotal(0); data.profilesimg='img/profiles/no-profile-icon.png'"><img src="img/profiles/no-profile-icon.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/webinteg" class="normalize" ng-click="data.profiles='Unsure about user profiles'; addTotal(1500); data.profilesimg='img/profiles/idk-profile-icon.png'"><img src="img/profiles/idk-profile-icon.png" width="100" height="100"></a><br>Not sure<br><br>
</div>
