<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will reviews and ratings be used?</h3><br>
	<div class="centerbuttons">
	<a href="#/profiles" class="normalize" ng-click="data.reviews='Ratings/Reviews'; addTotal(5000); data.reviewsimg='img/reviews/ratings-icon.png'"><img src="img/reviews/ratings-icon.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/profiles" class="normalize" ng-click="data.reviews='No ratings/reviews'; addTotal(0); data.reviewsimg='img/reviews/no-ratings-icon.png'"><img src="img/reviews/no-ratings-icon.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/profiles" class="normalize" ng-click="data.reviews='Unsure about ratings/reviews'; addTotal(2500); data.reviewsimg='img/reviews/idk-ratings-icon.png'"><img src="img/reviews/idk-ratings-icon.png" width="100" height="100"></a><br>Not sure<br>
</div>
