<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>What stage of development is your app in?</h3><br>
	<div class="centerbuttons">
	<a href="#/total" class="normalize" ng-click="data.stage='Idea stage'; data.stageimg='img/stage/6.png'"><img src="img/stage/6.png" width="100" height="100"></a><br>Idea<br><br>
	<a href="#/total" class="normalize" ng-click="data.stage='Sketches stage'; data.stageimg='img/stage/3.png'"><img src="img/stage/3.png" width="100" height="100"></a><br>Sketches<br><br>
	<a href="#/total" class="normalize" ng-click="data.stage='In development'; data.stageimg='img/stage/9.png'"><img src="img/stage/9.png" width="100" height="100"></a><br>In Development<br><br>
	<a href="#/total" class="normalize" ng-click="data.stage='Prototype built'; data.stageimg='img/stage/4.png'"><img src="img/stage/4.png" width="100" height="100"></a><br>Prototype Built<br>
</div>
