<div class="center">
	<h3>Cost Estimate</h3><br>
	Platform: {{data.platform}}<br>
	Customization Needed: {{data.customization}}<br>
	Login Needed: {{data.login}}<br>
	In-app Payments: {{data.payments}}<br>
	Sync Data: {{data.datasync}}<br>
	Reviews and Ratings: {{data.reviews}}<br>
	Profiles: {{data.profiles}}<br>
	Website Integration: {{data.webinteg}}<br>
	Location Data: {{data.location}}<br>
	Data from 3rd Party: {{data.3rdparty}}<br>
	Custom Icon: {{data.icon}}<br>
	Stage of Development: {{data.stage}}<br>
	<h2>Estimated: ${{data.total}}</h2>
	<a href="#/start" class='normalize' ng-click=""><i>Create another estimate</i></a><br><br>	
	<a href="" class="expand" ng-model="collapsed" ng-click="collapsed=!collapsed">How does the estimator work?</a>
    <div ng-show="collapsed">This estimated cost is a rough estimate based on the amount of time it will take to create your app. This utilizes a range of hourly rates from $60-$100 USD per hour (quality talent is typically in this range). This estimate could vary dependent on project scope and functionalities. For more information contact us at: <a href="mailto:info@keystoke.com" class='normalize' target="_top">info@keystoke.com</a></div>
	<br><br>
	<h3>Let's get started!</h3>
	<h3>At Keystoke we strive to provide unique solutions to each and every project. We're a creativity focused firm that believes there is room for the human spark in a world of code. Coders. Artists. Strategists. We're redefining what it means to be IT Consultants. Learn more about <a href="http://keystoke.com/" class='normalize'><b>Keystoke</b></a>.</h3>
	<a href="#/thanks" class="thanks" ng-click="">SUBMIT</a><br><br>
	
</div>
