<div class="center">
	<h2>Cost Estimate</h2><br>
	<div class="summary">
		<img src={{data.platformimg}} width="30" height="30">: {{data.platform}}<br>
		<img src={{data.customizationimg}} width="30" height="30">: {{data.customization}}<br>
		<img src={{data.loginimg}} width="30" height="30">: {{data.login}}<br>
		<img src={{data.paymentsimg}} width="30" height="30">: {{data.payments}}<br>
		<img src={{data.datasyncimg}} width="30" height="30">: {{data.datasync}}<br>
		<img src={{data.reviewsimg}} width="30" height="30">: {{data.reviews}}<br>
		<img src={{data.profilesimg}} width="30" height="30">: {{data.profiles}}<br>
		<img src={{data.webintegimg}} width="30" height="30">: {{data.webinteg}}<br>
		<img src={{data.locationimg}} width="30" height="30">: {{data.location}}<br>
		<img src={{data.thirdpartyimg}} width="30" height="30">: {{data.thirdparty}}<br>
		<img src={{data.iconimg}} width="30" height="30">: {{data.icon}}<br>
		<img src={{data.stageimg}} width="30" height="30">: {{data.stage}}<br>
	</div>
	<br>
	<h2>Estimated: ${{data.total}}</h2>
	<a href="#/start" class='normalize' ng-click="data='empty'"><i>Create another estimate</i></a><br><br>	
	<a href="" class="expand" ng-model="collapsed" ng-click="collapsed=!collapsed">How does the estimator work?</a>
    <div ng-show="collapsed">This estimated cost is a rough estimate based on the amount of time it will take to create your app. This utilizes a range of hourly rates from $60-$100 USD per hour (quality talent is typically in this range). This estimate could vary dependent on project scope and functionalities. For more information contact us at: <a href="mailto:info@keystoke.com" class='normalize' target="_top">info@keystoke.com</a></div>
	<br><br>
	<h3>Let's get started!</h3>
	<h3>At Keystoke we strive to provide unique solutions to each and every project. We're a creativity focused firm that believes there is room for the human spark in a world of code. Coders. Artists. Strategists. We're redefining what it means to be IT Consultants.</h3>
	<a href="#/submit" class="big" ng-click="">SUBMIT</a><br><br>
	
</div>
