<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will website integration be needed for your app?</h3><br>
	<div class="centerbuttons">
	<a href="#/location" class="normalize" ng-click="data.webinteg='Integrated with a website'; addTotal(3000); data.webintegimg='img/webinteg/integrated-icon.png'"><img src="img/webinteg/integrated-icon.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/location" class="normalize" ng-click="data.webinteg='No integration'; addTotal(0); data.webintegimg='img/webinteg/no-integrated-icon.png'"><img src="img/webinteg/no-integrated-icon.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/location" class="normalize" ng-click="data.webinteg='Unsure about integration'; addTotal(1500); data.webintegimg='img/webinteg/idk-integrated-icon.png'"><img src="img/webinteg/idk-integrated-icon.png" width="100" height="100"></a><br>Not sure<br><br>
</div>
