<div class="center">
	Running total: ${{data.total}}<br><br>
	<h3>Will website integration be needed for your app?</h3><br>
	<div class="centerbuttons">
	<a href="#/location" class="normalize" ng-click="data.webinteg='Yes'; addTotal(3000)"><img src="img/webinteg/integrated-icon.png" width="100" height="100"></a><br>Yes<br><br>
	<a href="#/location" class="normalize" ng-click="data.webinteg='No'; addTotal(0)"><img src="img/webinteg/no-integrated-icon.png" width="100" height="100"></a><br>No<br><br>
	<a href="#/location" class="normalize" ng-click="data.webinteg='Not sure'; addTotal(1500)"><img src="img/webinteg/idk-integrated-icon.png" width="100" height="100"></a><br>Not sure<br>
</div>
